* {
    margin: 0;
    padding: 0;
}
 body, html {
    height: 100%;
    background:linear-gradient(rgb(17, 135, 231), #29e2c3) ;
}

h1 {
    text-align: center;
    font-size: 2.3em;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}


.footer {
    margin-top: 25%;
    vertical-align:bottom;
    text-align: center;
    color: white;
}

.footer h2 i {
    padding: 5px;
    color: brown;
}

.footer h2 a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Pridi', serif;
    font-weight: 100;
}
